
.header-main-div{
    width: 100vw;
    height: 40vh;
display: flex;
align-items: center;
justify-content: center;
background: #777;
}

.header-sub-div{
color: white;
font-size: 50px;
font-weight: bolder;
margin-top: 20px;
}